body {
    background-color: #ecf0f1;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: system-ui;
}

.bar-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-container > div {
    width: 50vw;
}

.bar-container > div > input {
    width: 100%;
    padding: 30px;
    font-size: 25px;
    font-family: system-ui;
    font-weight: lighter;
    border: 1px solid lightgray;
    border-radius: 8px;
}

#results {
    max-height: 300px;
    overflow-y: auto;
}